/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Yomogi&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mali&family=Patrick+Hand&family=Yomogi&display=swap');
html {
    background-color: white;
    font-family: 'Mali', cursive;
    /* font-family: 'Patrick Hand', cursive; */
    /* font-family: 'Yomogi', cursive; */

}

/* body {
    margin: 0;
} */

h1 {
    font-size: 30px;
}

h2 {
    font-size: 15px;
}

p {
    font-size: 12px;
    text-align: justify;
}

header{
    background-color: white;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    padding: 5%;
}



nav{
    font-size: 30px;
    /* float: right; */
    margin-right:1rem;
    /* padding-top: 3.5%; */
    /* display: flex; */
}



header a{
    /* background-color: #ffd1dc; */
    background-color: #FFE1DE;
    color: white; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    /* make the border glow */
    border-left: solid 1px #CCC5C9;
    padding: 0.5rem 0.5rem;
    /* vertical-align: middle; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
}

.selected {
    text-decoration: underline;
    /* color: #ffd1dc; 
    box-shadow: 0 0 100px #FAFAD2; 
    background: white;  */
}

.GFG:hover{
    color: #ffd1dc; 
    background: white; 
    box-shadow: 0 0 100px #FAFAD2; 
}

footer {
    background-color: #FFE1DE;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

#footer_container {
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

footer p{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    /* vertical-align: center; */
}

#linkedin {
    /* background-image: url(images/linkedin.svg); */
    padding-top: 50%;
    width: 25px;
    height: 25px;
}

#github {
    /* background-image: url(images/github1.svg); */
    padding-top: 50%;
    width: 25px;
    height: 25px;
}

/* #logo {
    background-image: url(images/logo.png);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width: 981px;
    height: 180px;
  } */

@media (min-width:600px) {
    header a {
        font-size: 30px;
    }

    footer p{
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
        /* vertical-align: center; */
    }
    
    #linkedin {
        /* background-image: url(images/linkedin.svg); */
        padding-top: 50%;
        width: 30px;
        height: 30px;
    }
    
    #github {
        /* background-image: url(images/github1.svg); */
        padding-top: 50%;
        width: 30px;
        height: 30px;
    }


}

